{{set . "title" "Home"}}
{{template "header.html" .}}

<nav class="navbar navbar-warning">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="btn btn-danger btn-raised navbar-btn">SPNT</button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a>Active</a></li>
            <li><a>Link</a></li>
        </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="padding: 20px;">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="material-icons" style="font-size:100px;">comment</i>
      <div class="caption">
        <h3>Komante</h3>
        <p>Lis komante yo</p>
        <p>
        <a href="/show/comment" class="btn btn-primary btn-raised" role="button">Antre</a> 
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="material-icons" style="font-size:100px;">class</i>
      <div class="caption">
        <h3>Klass</h3>
        <p>Lis klass yo</p>
        <p>
        <a href="/show/event" class="btn btn-primary btn-raised" role="button">Antre</a> 
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="material-icons" style="font-size:100px;">thumb_up</i>
      <div class="caption">
        <h3>Sponso</h3>
        <p>Lis sponso yo</p>
        <p>
        <a href="/show/sponsor" class="btn btn-primary btn-raised" role="button">Antre</a> 
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="material-icons" style="font-size:100px;">blur_on</i>
      <div class="caption">
        <h3>Opsyon</h3>
        <p>Lis opsyon yo</p>
        <p>
        <a href="/show/option" class="btn btn-primary btn-raised" role="button">Antre</a> 
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="material-icons" style="font-size:100px;">videocam</i>
      <div class="caption">
        <h3>Videyo</h3>
        <p>List videyo yo</p>
        <p>
        <a href="/show/video" class="btn btn-primary btn-raised" role="button">Antre</a> 
        </p>
      </div>
    </div>
  </div>
  
  
  
</div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
