{{set . "title" "Home"}}
{{template "header.html" .}}

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="btn btn-danger btn-raised navbar-btn">SPNT</button> -->
      <a class="navbar-brand" href="#">SPNT</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a>Active</a></li>
            <li><a>Link</a></li>
        </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top: 80px; margin-bottom: 50px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
           <img class="d-block w-100" src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt="First slide">
           <div class="carousel-caption d-none d-md-block">
            <h3>Thasdjaskdodfbsjfbksaf asdasda</h3>
            <p>adaskhadkadka abdkjasbdjabd adajsvdj sdv jajsvd jad sdvhasd as</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.w3schools.com/css/trolltunga.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Tsdfnjgksfd sdbfsndfm sdf ds</h3>
            <p>dsbdnfmsdbf sdfb nsmd bmsnf smfs dmsf dmf</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="http://www.xsjjys.com/data/out/62/WHDQ-512071516.jpg" alt="Third slide">\
          <div class="carousel-caption d-none d-md-block">
            <h3>Thsdmnflkn l snbfsmd kj </h3>
            <p>Insnd fsm  sd fmsdf  sd fsfsdf sfsdfsd fsfsdf. sdf sdf. sdf sf. sfsdjs</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4" ng-controller="OptionController">
        <div class="row" ng-repeat="option in options">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ "{{option.title}}" }}</div>
                  <gfl-text-avatar>{{ "{{option.title}}" }}</gfl-text-avatar>
                  <div class="panel-body">
                    {{ "{{option.description}}" }}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
