{{set . "title" "Event List"}}
{{template "header.html" .}}

<nav class="navbar navbar-warning">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="btn btn-lg btn-danger btn-raised navbar-btn">{{ .title}}</button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a>Active</a></li>
            <li><a>Link</a></li>
        </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid" style="padding: 20px;">
<div class="row">
  {{ range $key, $value := .Events}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h2>{{$value.Title}}</h2>
            <h3>{{$value.Date}}</h3>
            <h3>{{$value.Speaker}}</h3>
            <h3>{{$value.Location}}</h3>
            <p>{{$value.Description}}</p>
            <p>
            <a href="#" class="btn btn-primary btn-raised" role="button">Delete</a> 
            <a href="#" class="btn btn-default btn-raised" role="button">Edit</a>
            </p>
          </div>
        </div>
      </div>
	{{end}}
</div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
